# Visual Studio
bin/
obj/
.vs/
*.user
*.suo

# Базы данных
*.mdf
*.ldf
*.db

# Логи
*.log

# Настройки
appsettings.Development.json
appsettings.Production.json

# Папки сборки
Debug/
Release/

# Системные файлы
Thumbs.db
desktop.ini